{% load static %}

  <header class="video-header">
    
    <video autoplay loop playsinline muted><source id="vsrc" /></video>

    <div class="header-text">
      <h1>
        {% if user.is_authenticated %}
        <img class="efeito-flutuante-infinito logomarca" id="logomarca" src="{% static 'media/logo.png' %}">
        <span class="titulo1">Ricardo Jhonny R. Cardoso</span>
        Portfólio Profissional
        {% else %}
        <img class="efeito-flutuante-infinito logomarca" id="logomarca" src="{% static 'media/logo.png' %}">
        <span class="titulo1">Ricardo Jhonny R. Cardoso</span>
        <br>
        Portfólio Profissional
        <br><br><br>
        
        <button title="CLIQUE PARA ACESSAR" onclick=window.location.href="{% url 'login' %}"; class="btn-continuar">ACESSAR</button>
        {% endif %}
      </h1>
    </div>

    {% if user.is_authenticated %}
    <div class="protect-screen"></div>
    {% endif %}
  </header>
</body>

{% block script %}
<script>
  document.getElementById("vsrc").src ="http://screensaver123456gamers.on.drv.tw/home/video13.mp4";
</script>
{% endblock %}