{% load static %}

  <header class="video-header">
    
    <video autoplay loop playsinline muted><source id="vsrc" /></video>

    <div class="header-text">
      <h1 title="CLIQUE PARA INICIAR">
        {% if user.is_authenticated %}
        <img class="efeito-flutuante-infinito logomarca" id="logomarca" src="{% static 'media/logo.png' %}">
        <span>ALF4RD SYSTEM</span>
        Technology and CODE
        {% else %}
        <a href="{% url 'login' %}">
        <img class="efeito-flutuante-infinito logomarca" id="logomarca" src="{% static 'media/logo.png' %}">
        </a>
        <span>ALF4RD SYSTEM</span>
        {% endif %}
      </h1>
    </div>

    <!-- <div class="description">
      <marquee>
        <h5>
        {% for anuncio in anuncios %}
          {{ anuncio.titulo }} - {{ anuncio.descricao }}
        {% endfor %}
        </h5>
      </marquee>
    </div> -->
    {% if user.is_authenticated %}
    <div class="protect-screen"></div>
    {% endif %}
  </header>
</body>

{% block script %}
<script>
  // Gera um número aleatório entre 1 e 23
  function getRandomNumber(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
  }
  document.getElementById("vsrc").src = "{{ videoscreensaver.url }}";
</script>
{% endblock %}