@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html,
body {
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to right, #0f0f0f, #363636);
}



p{
  margin: 0;
}

@keyframes float {

  0%,
  100% {
    transform: translatey(0)
  }

  50% {
    transform: translatey(-10px)
  }
}

.efeito-flutuante-infinito {
  animation: float 2s ease-in-out infinite;

}

video {
  width: 100dvw;
  min-height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.logomarca {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  width: 20%;  
}

.protect-screen {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100dvw;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1000;
}

.header-text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateY(-5rem);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-text h1 {
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text span {
  display: block;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn-continuar{
  color:rgb(255, 255, 255);
  z-index: 1001;
  border: none;
  background-color: transparent;
  animation: ring 1.5s infinite;

}
.btn-continuar:hover{
  color:rgb(223, 157, 15);
  z-index: 1001;
  animation: none;

}

.social-media{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  list-style-type: none; /* Remove os marcadores de lista */
  position: absolute;
  width: auto;
  padding: 10px;
  bottom: 20px;
  right: 20px;
}
.social-media a{
  text-decoration: none;
}

.social-media ul{
  list-style-type: none; /* Remove os marcadores de lista */
  font-size: 13pt;
}

.btn-instagram{
  margin-top: 5px;
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  padding: 10px;
  border: 2px solid white;
  border-radius: 0.8rem;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-linkedin{
  margin-top: 5px;
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #0077b5, #00a0dc);
  padding: 10px;
  border: 2px solid white;
  border-radius: 0.8rem;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.btn-github{
  margin-top: 5px;
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #0f0f0f, #363636);
  padding: 10px;
  border: 2px solid white;
  border-radius: 0.8rem;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.btn-github:hover{
  width: 100%;
  background: rgb(223, 136, 37);
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.8rem;
  color: rgb(0, 0, 0);
  

}

.btn-instagram:hover{
  width: 100%;
  background: rgb(223, 136, 37);
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.8rem;
  color: rgb(0, 0, 0);
}

.btn-linkedin:hover{
  width: 100%;
  background: rgb(223, 136, 37);
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.8rem;
  color: rgb(0, 0, 0);
  

}

.titulo1{
  background-color: rgba(223, 136, 37, 0.664);
  border-radius: 0.8rem;
  padding: 10px;
}

@keyframes ring {
  0% {
    color:rgb(255, 255, 255);
    opacity: 0;
  }
  50%{
    color:rgb(255, 255, 255);
    opacity: 1;
  }
  100% {
    color:rgb(255, 255, 255);
    opacity: 0;

  }
}

@media only screen and (max-width: 767px) {
  .social-media p{
    display: none;

  }
  .social-media{
    bottom: 10px;
    right: 10px;
  }
}